{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Django Girls - Tutorial | Blog</title>
        <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class='page-header'>
            <h1><a href="/">Django Girls - Tutorial | Blog</a></h1>
            {% if user.is_authenticated %}
                <h2><a href="{% url 'post_new' %}" class='top-menu'><span class="glyphicon glyphicon-plus"></span> Nova Publicação</a></h2>
            {% endif %}
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>