<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls - Tutorial | Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls - Tutorial | Blog</a></h1>
    </header>

    {% for post in posts %}
        <article>
            <header>
                <h2><a href="">{{ post.title }}</a></h2>
            </header>

            <time datetime="{{ post.published_date }}">Publicação: {{ post.published_date }}</time>

            <p>{{ post.text|linebreaksbr }}</p>
            
        </article>
    {% endfor %}

</body>
</html>