<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls - Tutorial | Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls - Tutorial | Blog</a></h1>
    </header>

    <article>
        <header>
            <h2><a href="">Meu Primeiro Post</a></h2>
        </header>

        <time datetime="2014-06-14">Publicação: 14/06/2014 - 12:14</time>
        
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </article>

    <article>
        <header>
            <h2><a href="">Meu Segundo Post</a></h2>
        </header>

        <time datetime="2014-06-14">Publicação: 14/06/2014 - 12:14</time>
        
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </article>
</body>
</html>