.page-header {
    background-color: white;
    margin: 0px;
    padding: 20px 20px 20px 40px;
    font-family: lobster;
}

.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active,
.page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #006699;
    text-decoration: none;
}


.page-header h1 {
    font-size: 36pt;
}

.page-header h2 {
    font-size: 20pt;
    color: #006699;
}

.post {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
}

.post-header {
    font-family: lobster, cursive;
}

.date {
    color: #828282;
}